/* see index.css for site-wide variable definitions */
header{
width: 100%;
background-color: hsl(240, 100%, 84%);
display: flex;
flex-direction: column;
align-items: center;
}

#headerSubcontainer{
  width: var(--page-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#companyName{
  justify-self: flex-start;
}

nav>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

nav a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: black;
}

#headerSubcontainer>a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  justify-self: flex-end;
}

#cartIcon{
  width: 2rem;
  font-size: 2rem;
  height: 2rem;
}

#cartIcon:not(#cartIcon[value=""])::after{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  content:attr(value);
  width: 7rem;
  height: 2rem;
  padding: .5rem;
  text-align: center;
  position: relative;
  top: -3.5rem;
  left: -5.2rem;
  font-size: 1rem;
}



