*{
  margin:0;
  padding:0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --page-width: min(1000px, 90vw);
}

#root{
  min-height: 100vh;
  width: 100%;
}

/* common selectors for pages */

.pageTopLevel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(255, 242, 226);
}

.body{
  width: var(--page-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

.title{
  font-size: 3rem;
  margin-top:1rem;
  margin-bottom: 2rem;
}

.qtyContainer{
  grid-area: qtyContainer;
  display:flex;
  align-items: center;
}

.qtyContainer>button{
  cursor: pointer;
  font-size: 2rem;
  background-color: white;
}

.qtyContainer>button:first-of-type{
  border: none;
  cursor: pointer;
  border-radius: 1rem 0 0 1rem;
}

.qtyContainer>button:last-of-type{
  border: none;
  cursor: pointer;
  border-radius:  0 1rem 1rem 0 ;
}

.qtyContainer>button:hover, .qtyContainer>button:focus{
  background-color: hsl(0, 0%, 80%);
  border: none;
  outline: none;
}

.qtyContainer>input{
  box-sizing: border-box;
  height: 2rem;
  width: 2rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
}

.qtyContainer>input:hover, .qtyContainer>input:focus{
  background-color: hsl(0, 0%, 80%);
  border: none;
  outline: none;
}


