#product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 242, 226);
}

#productBody{
  min-height: 100vh;
  width: var(--page-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.carousel-root{
  max-width: 300px;
}

#productText{
  max-width: 500px;
  flex:1 1 200px;
}


#productTitle{
  justify-self: center;
}
#productDesc{
   margin-bottom: 1rem; 
}

#productPrice{
margin-bottom: 2rem;
}

#addToCartButton{
  font-size: 2rem;
  grid-area: addToCartButton;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
}

#addToCartButton:hover, #addToCartButton:focus{
  background-color: hsl(0, 0%, 80%);
  border: none;
  outline: none;
}

.control-arrow.control-prev::before{
  border-right: 8px solid black !important;
}
.control-arrow.control-next::before{
  border-left: 8px solid black !important;
}


