#store{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: rgb(255, 242, 226);
}

#storeBody{
  width: var(--page-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

#storeTitle{
  font-size: 4rem;
  margin-bottom: 2rem;
}

#storeProducts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--page-width);
  background-color: rgb(255, 242, 226);
  gap: 2rem;
}
